@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-image: url('../../public/images/header-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.newsletter {
  background-image: url('../../public/images/newsletter-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
